@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul&display=swap');

body,
#root {
  margin: 0;
  padding: 0;
  --border-default: 3px solid hsla(41, 25%, 40%, 0.25);
}

.App {
  display: grid;
  grid-template-rows: auto 130ssssssspx;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.app-content {
  background-color: hsl(42, 8%, 76%);
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 40px auto 120px;
  overflow: hidden;
}

.app-content__top-left {
  background-image: url("./assets/border-top-left.png");
}

.app-content__top {
  background-image: url("./assets/border-top.png");
  background-repeat: horizontal;
}

.app-content__top-right {
  background-image: url("./assets/border-top-right.png");
}

.app-content__left {
  background-image: url("./assets/border-left.png");
  background-repeat: vertical;
}

.app-content__center {
  color: hsl(42, 5%, 25%);
  display: grid;
  gap: 2rem;
  grid-template-columns: min-content auto;
  padding: 1rem;
  z-index: 9;
}

.app-content__center--sidebar {
  border-right: var(--border-default);
  display: flex;
  padding-right: 2rem;
}

.app-content__right {
  background-image: url("./assets/border-right.png");
  background-repeat: vertical;
}

.app-content__center--top {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 2rem;
  border-bottom: var(--border-default);
  padding-bottom: 1rem;
}

.app-content__center--main {
  display: grid;
  gap: 1rem;
  grid-template-rows: min-content auto;
}

.app-content__bottom-left {
  background-image: url("./assets/border-bottom-left.png");
}

.app-content__bottom {
  display: grid;
  grid-column: 2 / 4;
  grid-template-columns: auto 350px;
}

.app-content__bottom--center {
  background-image: url("./assets/border-bottom.png");
  background-repeat: horizontal;
}

.app-content__bottom--decoration {
  background-image: url("./assets/border-bottom-right.png");
}

img.BackgroundImage {
  -webkit-mask-image: url(./assets/mask_bg.png);
  -webkit-mask-mode: alpha;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  filter: sepia(70%) grayscale(20%);
  mask-image: url(./assets/mask_bg.png);
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-size: 100%;
  opacity: 0.15;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: -10%;
  width: 100%;
  /* max-height: 100%; */
  z-index: 1;
}

/* UTILITY CLASSES */
.app-text__title {
  font-family: "Cinzel";
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  user-select: none;
}



/* animation: spin360center 24s linear infinite; */